.html,  .body {
    overflow-x: hidden;
}
.navbar-custom{
    background-color: #ffdf00;  
}
.logo{
    height:50px;
}
.nav-item.nav-link:hover{
    border-radius: 5px;
    background-color: black;
    color: #ffdf00 !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    font-weight: 400;
    margin: auto;
}
.navbar{
    font-family: 'Georgia', serif;
}
.footer-custom-2{
    background-color: #1f1f1e; 
}
.section-newsletter{
    background-color: #ffdf00!important;
    margin-left: 10%;
    margin-right: 10%;
}
.bg-newsletter{
    /* background: radial-gradient(circle, rgba(42,90,1,1) 0%, rgba(16,126,22,1) 33%, rgba(63,202,13,1) 100%); */
    color: white;
}
.section-product-1{
    padding-left: 6%;
    padding-right: 6%;
} 
.section-product-1 a{
    color: #000;
}
.section-product-1 a:hover{
    text-decoration: none;
}
.custom-card{
    -webkit-box-shadow: 0px 3px 15px 1px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 3px 15px 1px rgba(0,0,0,0.39);
    box-shadow: 0px 3px 15px 1px rgba(0,0,0,0.39);
}
.recepie-card:hover{
    transform: scale(1.02);
    transition: transform .5s ease;
}
.newsletter-card{
    width: 100%;
    background-color: #1f1f1e;
    color: #ffffff;
    padding: 0!important;
}
.recepie-card{
    height: 400px;
    width: 100%;
    object-fit: cover;
    margin-top: -15px;
    padding-left: 0;
    padding-right: 0;
}
.product-breadcrumb a{
    color: gray;
}
.product-breadcrumb a:hover{
    text-decoration: none;
}
.footer-custom{
    background-color: #0f0f0f;
    padding-left: 10%!important;
    padding-right: 10%!important;
}
.footer-custom a{
    color: gray;
}
.footer-custom a:hover{
    text-decoration: none;
}
.mobile-navbar {
    display: none;
}
.mobile-search-bar {
    display: none;
}
.carousel-image {
	height: 50vh;
	width: 100vw;
	object-fit: cover;
}
.mobile-carousel-indicator{
    display: none;
}
.custom-carousel-caption{
    background-color: rgba(255, 222, 89, 0.5);
}

.hero-banner{
    width: 100vw!important;
    height: 52vh!important;
    object-fit: cover!important;
    margin: 0px!important;
    padding: 0px!important;
    overflow-x: hidden!important;
}
.product-detail-section{
    padding-left: 6%;
    padding-right: 6%;
}
.product-image-column img{
    display: flex;
    position: relative;
    width: 80%;
    height: 10vh;
    cursor: pointer;    
}
.product-image-main{
    display: flex;
    position: relative;
    width: 100%;
    height: 70vh;
    transition: transform 0.3s ease-in-out;
}
#lens, #result {
    position: absolute; 
    display: none; 
    z-index: 1; 
    border: solid gray 1px;
    cursor: pointer; 
}
#lens{
    background-color: rgba(128, 128, 255, 0.1);
    border: dotted #8080ff 2px!important;
}
/* Mobile Version(@media) */
@media only screen and (max-width: 767px){
    .html,  .body {
        overflow-x: hidden;
    }
    .section-product-1{
        padding-left: 4%;
        padding-right: 4%;
    }
    .footer-custom-2{
        background-color: #1f1f1e;
        padding-left: 4%;
        padding-right: 4%;
        font-size: small;
    }
    .ham-menu i{
        color: black!important;
        font-size: x-large;
    }
    .mobile-navbar {
        background-color: #ffdf00;
        height: 65px;
        display:block;
    }
    .navbar-custom{
        display: none;  
    }
    .overlay a {font-size: 25px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
    .overlay {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(255, 223, 0);
        background-color: rgba(255, 223, 0, 1.0);
        overflow-x: hidden;
        transition: 0.5s;
    }
    .overlay-content {
        position: relative;
        top: 15%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 25px;
        color: #000000;
        display: block;
        transition: 0.3s;
    }
    .overlay a:hover, .overlay a:focus {
        color: #000;
        background-color: black;
    }
    .overlay .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }
    .mobile-logo {
        float: right;
    }
    .mobile-search{
        position: relative;
        margin-left: 40%;
        color: #000000;
        font-size: xx-large;
    }
    .mobile-search-bar {
        height: 100%;
        width: 100%;
        display: none;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgb(255, 223, 0);
        background-color: rgba(255, 223, 0, 1.0);
    }
      .mobile-search-bar-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px;
        margin: auto;
      }
      
      .mobile-search-bar .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
        cursor: pointer;
        color: black;
      }
      
      .mobile-search-bar .closebtn:hover {
        color: #ccc;
      }
      .mobile-search-bar input[type=text] {
        padding: 15px;
        font-size: 17px;
        border: none;
        width: 80%;
        background: black;
        color: #ffffff;
      }
      .hero-banner{
        width: 100vw;
        height: 60vh;
        object-fit: cover;
    }
      .carousel-image {
        height: 50vh;
        width: 100vw;
        object-fit: cover;
    }
    .mobile-carousel-indicator{
        display: none;
    }
}

/* Code of finding Ghost CSS Turn on to fix random horizontal scroll issues. */
/* *{
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
  } */